<html>
	<head>
		<title>Pixel It.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />

		 <!-- Setting the right viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
				<!-- Intro -->
					<div id="intro">
						<h1>Welcome To<br />
						Pixel It.</h1>
						<p>Place a pixel, contribute to art.</p>
						<ul class="actions" style="margin: 50px 0;">
							<ul>
								<li><a href="/canvas" class="button special big">Begin</a></li>
							</ul>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">Pixel It.</a>
					</header>
				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<!-- <span class="date">April 25, 2017</span> -->
									<h2><a href="#"><!--[-->What is<!--]--><br />
									<!--[-->Pixel It?<!--]--></a></h2>
									<p>Inspired by Reddit Place, "Pixel It." is a website where users can collaborate
									on pixel art on a large interconnected canvas. Collaborate, and place your pixels.</p>
								</header>
								<a href="#" class="image main"><img src="images/place.png" alt="" /></a>
								<ul class="actions">
									<li><a href="/canvas" class="button big">Place your pixel</a></li>
								</ul>
							</article>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<section class="split contact">
							<section class="alt">
								<h3>Contributions</h3>
								<ul>
									<li>Brandon Asuncion</li>
									<li>Billy Giang</li>
									<li>Michael Yan</li>
									<li>Michael Ha</li>
									<li>Kevin Le</li>
									<li>Samir Mandal</li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; pixelIt</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>
			</div>
    </body>
  </html>

{{outlet}}
